@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter Tight", sans-serif;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: normal;
  }
  
  h1 {
    font-family: "Instrument Serif", serif;
    font-size: 2.25rem;
    line-height: 1.11111;
    letter-spacing: -0.025em;
  }
  
  h2 {
    font-family: "Instrument Serif", serif;
    font-size: 1.5rem;
    line-height: 1.33333;
    letter-spacing: -0.025em;
  }
  
  h3, h4, h5, h6 {
    font-family: "Instrument Serif", serif;
    letter-spacing: -0.025em;
  }
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 100;
}

.font-pixel-grid {
  font-family: var(--font-geist-pixel-grid);
}

.font-pixel-square {
  font-family: var(--font-geist-pixel-square);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0px;
    background: transparent;
    /* Optional: just in case */
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}